requests==2.31.0
tenacity==8.2.3
pandas==2.1.1
sqlalchemy==2.0.21
psycopg2-binary==2.9.9
apache-airflow==2.7.2
apache-airflow-providers-slack==8.1.0
dbt-core==1.6.3
dbt-postgres==1.6.3
great-expectations==0.17.20
pytest==7.4.2
pytest-cov==4.1.0
sqlfluff==2.3.2
